PORT=8080
DATABASE_URL=your_db_url
NODE_ENV=dev || prod || test

JWT_ACCESS_SECRET_KEY=your_access_secret_key
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_SECRET_KEY=your_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=1d